# --
# Copyright (C) 2019 Perl-Services.de, http://perl-services.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<form action="[% Env("CGIHandle") %]" method="post" name="compose" id="Compose" class="Validate PreventMultipleSubmits">
    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="ChangeVisibility"/>
    <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]"/>
    <input type="hidden" name="ArticleID" value="[% Data.ArticleID | html %]"/>

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>
                [% Translate("Change Article Visibility") | html %]
            </h1>
            <p>
                <a class="CancelClosePopup" href="#">[% Translate("Cancel & close window") | html %]</a>
            </p>
        </div>
        <div class="Content">

            <fieldset class="TableLike FixedLabel">
                <div class="Row">
                    <label for="IsVisibleForCustomer">[% Translate("Is visible for customer") | html %]:</label>
                    <div class="Field">
                        <input type="checkbox" name="IsVisibleForCustomer" id="IsVisibleForCustomer"
                            [% IF Data.IsVisibleForCustomer %]checked="checked" [% END %]/>
                    </div>
                    <div class="Clear"></div>
                </div>

[% RenderBlockStart("DynamicField") %]
                        <div class="Row Row_DynamicField_[% Data.Name | html %]">
                        [% Data.Label %]
                            <div class="Field">
                            [% Data.Field %]
                            </div>
                            <div class="Clear"></div>
                        </div>
[% RenderBlockEnd("DynamicField") %]

            </fieldset>
        </div>
        <div class="Footer">
            <button class="Primary" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]">[% Translate("Submit") | html %]</button>
        </div>
    </div>
</form>

#Layers
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Agent.TicketAction.Init();
//]]></script>
[% END %]
